body {
      margin: 0;
      overflow: hidden;
      background: #e0e0e0;
    }

    canvas {
      display: block;
      background-image: url("imagini2Drot/cielo.png")
    }

    #mobileControls {
      position: fixed;
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      gap: 20px;
      z-index: 100;
    }

    #mobileControls button {
      font-size: 24px;
      padding: 10px 20px;
      touch-action: none;
      user-select: none;
      border: none;
      border-radius: 10px;
      background-color: #333;
      color: white;
    }