body {
  font-family: Arial, sans-serif;
  background: #faf8ef;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#game {
  background: #bbada0;
  padding: 10px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(4, 100px);
  grid-gap: 10px;
}

.tile {
  width: 100px;
  height: 100px;
  background: #cdc1b4;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: bold;
  color: #ff0000;
  border-radius: 5px;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  user-select: none;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.tile.new-tile {
  animation: neon-glow 0.8s ease-out;
}

@keyframes neon-glow {
  0% {
    box-shadow: 0 0 20px 5px #0ff, 0 0 40px 10px #0ff;
    transform: scale(1.2);
  }
  100% {
    box-shadow: none;
    transform: scale(1);
  }
}

.tile-2    { background-image: url("imagini2048/mateo.png"); }
.tile-4    { background-image: url("imagini2048/trippi troppi.png"); }
.tile-8    { background-image: url("imagini2048/udin din dun.png"); }
.tile-16   { background-image: url("imagini2048/spioniro gubino.png"); }
.tile-32   { background-image: url("imagini2048/lirili larila.png"); }
.tile-64   { background-image: url("imagini2048/vacca saturno s.png"); }
.tile-128  { background-image: url("imagini2048/glorbofruttodrillo.png"); }
.tile-256  { background-image: url("imagini2048/brr brr patapim.png"); }
.tile-512  { background-image: url("imagini2048/tung tung sahur.png"); }
.tile-1024 { background-image: url("imagini2048/bombardero crocodilo.png"); }
.tile-2048 { background-image: url("imagini2048/tralalero tralala.png"); }